<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monzer Omer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/public/css/main.css">
</head>
<body>
<!-- NavBar -->
  <nav class="navbar navbar-expand-md navbar-light  navbar-custom">
    <a class="navbar-brand" href="/"><img src="../src/public/images/Alimnysolid.png" alt="ALIMNY LOGO" width="87" height="25"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/new">New Blog</a>
          </li>
        </ul>
    </div>
</nav>
<!-- NavBar End-->



<div class="container">
<h1 class="titleOne">New post:</h1>
<hr>
<div class="formbody">
    <form action="/new" enctype="multipart/form-data" method="POST">
      <div class="form-row">
            <div class="col">
                <p class="label">Title:</p>
                <input type="text" name="title" id="body" class="form-control" value="test">
            </div>
            
            <!-- <div class="col">
                 <label class="label custom-file" for="customFile">Upload an image:
                  <input type="file" name="image" id="customFile" class="form-control">
                </label>   
                <p class="hide label">Click or drop something here</p>
                  <div class="filetext">Click or drop something here
                  <input type="file" id="test" class="form-control"></div>
                
                <p id="filename"></p>
            </div> -->

            <div class="col">
              <p class="label">Image:</p>
              <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="inputGroupFile01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
              </div>
          </div>

          </div>
          
        
        <div class="form-row">
            <div class="col">
                <p class="label">Body:</p>
                <textarea name="body" id="body" cols="30" rows="10" class="form-control bodyinput">test</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-primary submit">Submit</button>

    </form>
    
</div>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <a class="navbar-brand" href="/"><img src="../src/public/images/Alimnysolid.png" alt="ALIMNY LOGO" width="87" height="25"></a>
    
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
  
          <ul class="list-unstyled">
            <li>
              <a href="https://www.linkedin.com/in/monzersmiledev/" class="footer">Linkedin</a>
            </li>
            <li>
              <a href="https://web.facebook.com/monzersmiledev/" class="footer">Facebook</a>
            </li>
            <li>
              <a href="https://wa.me/+249121601505" class="footer">whatsapp</a>
            </li>
            <li>
              <a href="https://github.com/monzersmiledev" class="footer">GitHub</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
  
          <ul class="list-unstyled">
            
            <li>
              <a href="https://twitter.com/monzersmiledev" class="footer">Twitter</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://www.linkedin.com/in/monzersmiledev/" class="footer">Monzer Omer</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
  </html>